<% if current_user&.administrator? %>
<div class="budget-investment-new row">
  <div class="small-12 medium-9 column">
    <% if @proposals.any? %>
    <h1><%= t("management.budget_investments.create") %></h1>

    <%= render '/budgets/investments/form', form_url: budget_investments_path(@budget) %>
    <% else %>
      <h1><%= t("management.budget_investments.create") %></h1>
    <% end %>
  </div>
</div>
<% end %>
