<nav class="socialx">
  <ul>
    <% if setting['twitter_handle'] %>
      <li>
        <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank",
                    title: t("shared.go_to_page") + t("social.twitter", org: setting['org_name']) + t('shared.target_blank_html') do %>
          <i class="fa fa-twitter"></i> Twitter
        <% end %>
      </li>
    <% end %>
    <% if setting['facebook_handle'] %>
      <li>
        <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank",
                    title: t("shared.go_to_page") + t("social.facebook", org: setting['org_name']) + t('shared.target_blank_html') do %>
          <i class="fa fa-facebook"></i> Facebook
        <% end %>
      </li>
    <% end %>
    <% if setting['youtube_handle'] %>
      <li>
        <%= link_to "https://www.youtube.com/#{setting['youtube_handle']}", target: "_blank",
                    title: t("shared.go_to_page") + t("social.youtube", org: setting['org_name']) + t('shared.target_blank_html') do %>
          <i class="fa fa-youtube"></i> YouTube
        <% end %>
      </li>
    <% end %>
    <% if setting['instagram_handle'] %>
      <li>
        <%= link_to "https://instagram.com/#{setting['instagram_handle']}", target: "_blank",
                    title: t("shared.go_to_page") + t("social.instagram", org: setting['org_name']) + t('shared.target_blank_html') do %>
          <i class="fa fa-instagram"></i> Instagram
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
