<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.conditions") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES DE USO, PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES DEL PORTAL DECIDE LA LIBERTAD</h2>
    <p>Por medio de la presente inscripción y conforme a la Ley 29733 y su reglamento autorizo de forma expresa y por tiempo indefinido que mis datos personales (nombres completos, DNI, fecha de nacimiento, correo electrónico, sexo y residencia) sean almacenados, sistematizados y utilizados por el Gobierno Regional La Libertad, para fines estadísticos y administrativos, incluyendo, pero sin estar limitado a: invitaciones a talleres, charlas y otros eventos que se organicen, auspicie o participe. Los Datos serán conservados en un banco de datos cuyo titular es el Gobierno Regional La Libertad, declaro conocer que para ejercer mis derechos como acceso, rectificación, cancelación y oposición sobre mis Datos puedo dirigirme al correo electrónico: decide@regionlalibertad.gob.pe.</p>
    <p>En casos de asistir a los eventos invitados, autorizo al Gobierno Regional La Libertad a usar mi imagen en caso haya sido capturada en formato fotográfico y/o audiovisual durante los evento en los que participare, para fines de información al ciudadano. Eximo a la institución y/o terceros autorizados, declarando que no presentaré ninguna reclamación con motivo de la captación, reproducción, publicación y/o cualquier divulgación de lo ya mencionado y/o similares.</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
