<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.privacy") %></h1>

    <h2>AVISO DE PROTECCIÓN DE DATOS</h2>
    <ol>
      <li>La navegación por la informacion disponible en el Portal de Decide La Libertad es anónima.</li>
      <li>Para utilizar los servicios contenidos en el Portal de Decide La Libertad el usuario deberá inscribirse y proporcionar previamente los datos de carácter personal según la información especifica que consta en cada tipo de registro.</li>
      <li>Los datos aportados serán incorporados y tratados por el Gobierno Regional La Libertad, asegurando el cumplimiento del control A.18.1.4 de la NTP-ISO/IEC 27001:2014, de acuerdo con la descripción del fichero siguiente:
        <ul>
          <li><strong>Nombre del fichero/tratamiento:</strong> GESTIÓN DE PROCESOS PARTICIPATIVOS</li>
          <li><strong>Finalidad del fichero/tratamiento:</strong> Gestionar los procesos participativos para el control de la habilitación de las personas que participan en los mismos y recuento meramente numérico y estadístico de los resultados derivados de los procesos de participación ciudadana</li>
          <li><strong>Órgano responsable:</strong> DIRECCIÓN DE PLANEAMIENTO Y PARTICIPACION CIUDADANA</li>
        </ul>
      </li>
      <li>El interesado podrá ejercer los derechos de acceso, rectificación, cancelación y oposición, ante el órgano responsable indicado todo lo cual se informa en el cumplimiento de la Ley N° 29733 Ley de Protección de Datos Personales.</li>
      <li>Como principio general, este sitio web no comparte ni revela información obtenida, excepto cuando haya sido autorizada por su titular, o la información sea requerida por orden judicial o mandato legal expreso, o se de alguno de los supuestos regulados en la Ley N° 29733 Ley de Protección de Datos Personales.</li>
    </ol>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

