<div class="row">
  <div class="small-12 column">
    <%= back_link_to admin_users_path, t("admin.geozones.new.back") %>

    <h1><%= t("admin.users.index.new") %></h1>

    <%= render "form" %>
  </div>
</div>
