<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>¿Qué puedo proponer? ¿Cómo lo hago?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">
    <h1 class="clear"><%= t("pages.more_info.faq.page.title") %></h1>
    <p>Te presentamos una lista de las soluciones a los problemas y dudas técnicas más frecuentes del Portal Decide La Libertad. Si esto no resuelve tu problema, puedes llamar al 044 604000 o acercarte a cualquiera de las Oficinas de Atención al Ciudadano.</p>

    <h2 id="1">¿Qué puedo proponer? ¿Cómo lo hago?</h2>
    <p>Una inversión es básicamente todo aquello que el Gobierno Regional puede construir o adquirir y que su duración prevista es superior a un año.</p>
    <p>Para hacer una propuesta el único requisito es que seas residente y aportando en la región La Libertad. Puedes hacer la propuesta directamente en esta web, en las secciones de Propuestas y Presupuestos Participativos; o acercarte a cualquiera de las Oficinas de Atención a la Ciudadanía.</p>
    <p>Puedes hacer cualquier propuesta de inversión que quieras que el Gobierno Regional lleve a cabo; y puedes hacerlo describiéndolo con tus propias palabras, no hace falta que sea una descripción técnica compleja. Aunque cuanto mejor lo expliques, más fácil será para el Gobierno Regional evaluarla y para la gente el decidir apoyarla.</p>
    <p>Esto es lo que evaluarán los técnicos del Gobierno Regional para marcar la propuesta como válida:</p>
    <ul>
      <li><strong>¿Cuánto vale?</strong> Se intentará estimar el coste de la propuesta y serán excluidas todas las propuestas con un coste superior a la bolsa de dinero correspondiente (te recordamos que según sea una propuesta para toda la ciudad o para una provincia, distrito u otro, habrá un tope máximo de coste diferente).</li>
      <li><strong>¿Es legal?</strong> La propuesta debe ser competencia del Gobierno Regional. Este puede hacer una serie de gastos, pero otros dependen del Estado. También se estudiará si hay alguna normativa que sea contraria a llevar a cabo la propuesta, o si atenta contra el bien común.</li>
      <li><strong>¿Es una propuesta de inversión?</strong> El presupuesto del Gobierno Regional se divide en diferentes capítulos, siendo uno de ellos el de inversión. En este caso los presupuestos participativos estarán limitados a esta partida, por lo que la propuesta tiene que encajar como gasto de inversión.</li>
      <li><strong>¿Es viable?</strong> Se estudiará si la propuesta es viable técnicamente y no se prevé algún impedimento para llevarla a cabo.</li>
    </ul>
  </div>
</div>
