@import "font-awesome.min";
@import "animated";

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

#contacts1-2:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 6px;
  background-image: linear-gradient(to right, #D50000 34%,#FFF 34%, #FFF 66%, #D50000 66%);
  background-size: 100%;
}

.socialx {
  width: 0;
  position: fixed;
  bottom: 0;
}
.socialx ul {
  padding: 20px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}

@import "social";
